/*
!/.gitignore

!/administrator/
/administrator/*
!/administrator/components/
/administrator/components/*
!/administrator/components/com_eqa/
!/administrator/components/com_kmail/
!/administrator/components/com_survey/

!/components/
/components/*
!/components/com_eqa/
!/components/com_kmail/
!/components/com_survey/

!/media/
/media/*
!/media/com_eqa/
!/media/com_kmail/
!/media/com_survey/

!/libraries/
/libraries/*
!/libraries/kma/
